.Form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 auto;
}

.Form__Button {
  width: 48px;
  height: 48px;
  border: 0;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
.Button__icon {
  fill: #ccc;
  transition: fill 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Form__Button:hover .Button__icon {
  fill: black;
}
.Form__Input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.Form__Input::placeholder {
  font: inherit;
  font-size: 18px;
}
